<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>File References</key>
				<dict>
					<key>App Scope</key>
					<false/>
					<key>File References</key>
					<array/>
				</dict>
				<key>Minimum Application Version</key>
				<string>6.0</string>
				<key>PublishingManifest</key>
				<dict/>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAQIDBAUGUlNYJHZlcnNpb25YJG9iamVj
				dHNZJGFyY2hpdmVyVCR0b3ASAAGGoK8QEQcIExQVHyIp
				LTE1OT1FSExQVSRudWxs0wkKCwwPEldOUy5rZXlzWk5T
				Lm9iamVjdHNWJGNsYXNzog0OgAKAA6IQEYAEgAyAEFhk
				YXRhYmFzZVRub2Rl1QsWFxgZGhscHR5eSWRlbnRpZmll
				ciBNYXBYUGFnZSBNYXBYTm9kZSBNYXBZUmVzb3VyY2Vz
				gAuAB4AKgAmABdIKCyAhoIAG0iMkJSZaJGNsYXNzbmFt
				ZVgkY2xhc3Nlc1xOU011dGFibGVTZXSjJScoVU5TU2V0
				WE5TT2JqZWN00wkKCyorLKCggAjSIyQuL18QE05TTXV0
				YWJsZURpY3Rpb25hcnmjLjAoXE5TRGljdGlvbmFyedMJ
				CgsyMyygoIAI0wkKCzY3LKCggAjSIyQ6O18QElJXUmVz
				b3VyY2VEYXRhYmFzZaI8KF8QElJXUmVzb3VyY2VEYXRh
				YmFzZdQLPj9AQUJDQ1hDaGlsZHJlblZQYXJlbnRfEBJS
				ZXByZXNlbnRlZCBPYmplY3SAD4ANgACAANIKC0ZHoIAO
				0iMkSUpeTlNNdXRhYmxlQXJyYXmjSUsoV05TQXJyYXnS
				IyRNTl8QEFJXU291cmNlTGlzdE5vZGWiTyhfEBBSV1Nv
				dXJjZUxpc3ROb2Rl0iMkMFGiMChfEA9OU0tleWVkQXJj
				aGl2ZXLRVFVUcm9vdIABAAgAEQAaACMALQAyADcASwBR
				AFgAYABrAHIAdQB3AHkAfAB+AIAAggCLAJAAmwCqALMA
				vADGAMgAygDMAM4A0ADVANYA2ADdAOgA8QD+AQIBCAER
				ARgBGQEaARwBIQE3ATsBSAFPAVABUQFTAVoBWwFcAV4B
				YwF4AXsBkAGZAaIBqQG+AcABwgHEAcYBywHMAc4B0wHi
				AeYB7gHzAgYCCQIcAiECJAI2AjkCPgAAAAAAAAIBAAAA
				AAAAAFYAAAAAAAAAAAAAAAAAAAJA
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>BaseURL</key>
					<string>http://holton.io/</string>
					<key>ConsolidateCSSFiles</key>
					<true/>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>© 2015 Jasper Holton</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<true/>
					<key>DefaultExportPath</key>
					<string>/Users/jasperholton/programming/jcholton.github.io</string>
					<key>DefaultExportPathBookmark</key>
					<data>
					Ym9va8gCAAAAAAQQMAAAACHGAoUxRsHu64Yl
					Wy/gxNMIzMjRQMm0wsZaQ//jBEmCxAEAAAQA
					AAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAM
					AAAAAQEAAGphc3BlcmhvbHRvbgsAAAABAQAA
					cHJvZ3JhbW1pbmcAEgAAAAEBAABqY2hvbHRv
					bi5naXRodWIuaW8AABAAAAABBgAAEAAAACAA
					AAA0AAAASAAAAAgAAAAEAwAA1ZMCAAAAAAAI
					AAAABAMAAJ1DCQAAAAAACAAAAAQDAAAaPjYA
					AAAAAAgAAAAEAwAAYnY2AAAAAAAQAAAAAQYA
					AHwAAACMAAAAnAAAAKwAAAAIAAAAAAQAAEG6
					f+IcAAAAGAAAAAECAAACAAAAAAAAAA8AAAAA
					AAAAAAAAAAAAAAAIAAAABAMAAAIAAAAAAAAA
					BAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8v
					LwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQD
					AAAAsBlwYwAAAAgAAAAABAAAQbnw8VcAAAAk
					AAAAAQEAADA3OTkyQzA5LTNCMUItMzc4NC05
					MEQ2LTE3RjA0OURGODYzQxgAAAABAgAAgQAA
					AAEACADvFwAAAQAIAAAAAAAAAAAAAQAAAAEB
					AAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAA
					AAAAEAAAAAQQAABkAAAAAAAAAAUQAAC8AAAA
					AAAAABAQAADkAAAAAAAAAEAQAADUAAAAAAAA
					AAIgAACwAQAAAAAAAAUgAAAgAQAAAAAAABAg
					AAAwAQAAAAAAABEgAABkAQAAAAAAABIgAABE
					AQAAAAAAABMgAABUAQAAAAAAACAgAACQAQAA
					AAAAADAgAAC8AQAAAAAAAAHAAAAEAQAAAAAA
					ABHAAAAgAAAAAAAAABLAAAAUAQAAAAAAABDQ
					AAAEAAAAAAAAAA==
					</data>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.htm</string>
						<string>index.php</string>
						<string>index.html</string>
					</array>
					<key>EmailAddress</key>
					<string>jasper@holton.io</string>
					<key>FavIconUsed</key>
					<false/>
					<key>LogoUsed</key>
					<false/>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PreviewAfterExportRelativeToBaseURL</key>
					<false/>
					<key>PublishingSettingsConfigured</key>
					<false/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowTidiedCode</key>
					<false/>
					<key>SloganUsed</key>
					<false/>
					<key>ThemeName</key>
					<string>Urban</string>
					<key>TitleText</key>
					<string>Jasper Holton</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UserAgentResizingPreset</key>
					<integer>0</integer>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>WebClipIconUsed</key>
					<false/>
					<key>globalCSS</key>
					<string></string>
					<key>globalHeader</key>
					<string></string>
					<key>globalJavascript</key>
					<string></string>
					<key>globalPrefix</key>
					<string></string>
					<key>hasChangedGlobalCSS</key>
					<true/>
					<key>hasChangedGlobalHeader</key>
					<true/>
					<key>hasChangedGlobalJavascript</key>
					<true/>
					<key>hasChangedGlobalPrefix</key>
					<true/>
					<key>putGoogleAnalyticsInHead</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
				<string>QuickLook</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
